<a href="https://colab.research.google.com/github/hinafathima74/hinafathima74/blob/main/Housing_Prices_Linear_Reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing

In [3]:
dataset = pd.read_csv("train.csv")

In [ ]:
x=dataset[['BsmtFinSF1','TotalBsmtSF','BsmtUnfSF','1stFlrSF','2ndFlrSF']]#.reshape(-1,1)
y=dataset[['SalePrice']]

In [ ]:
scalerx = preprocessing.MinMaxScaler(feature_range=(0, 1))
names=x.columns
dx = scalerx.fit_transform(x)

In [ ]:
scalery = preprocessing.MinMaxScaler(feature_range=(0, 1))
names=y.columns
dy=scalery.fit_transform(y)

In [ ]:
y.head()

   SalePrice
0     208500
1     181500
2     223500
3     140000
4     250000

In [ ]:
dy

array([[0.24107763],
       [0.20358284],
       [0.26190807],
       ...,
       [0.321622  ],
       [0.14890293],
       [0.15636717]])

In [ ]:

xtrain,xtest,ytrain,ytest=train_test_split(dx,dy,test_size=1/4,random_state=0)

In [ ]:

hpp_model=LinearRegression()

In [ ]:
hpp_model.fit(xtrain,ytrain)

LinearRegression()

In [ ]:
hpp_model.coef_

array([[0.28456977, 0.49725136, 0.02800837, 0.48514031, 0.25729863]])

Testing

In [ ]:
pred=hpp_model.predict(xtest)

In [ ]:
pred=scalery.inverse_transform(pred)
ytest=scalery.inverse_transform(ytest)

In [ ]:
mean_squared_error(ytest,pred)

3721693501.848753

In [ ]:
l.append(mean_squared_error(ytest,pred))

In [ ]:
l

['5868503821.187419', 3721693501.8487525, 0.0071771989070874695]